In [4]:
import pandas as pd
import numpy as np

In [10]:
from glob import glob
glob("서울시*.csv")

['서울시버스정류소좌표데이터(2022.08.24).csv']

In [12]:
df_01 = pd.read_csv('서울시버스정류소좌표데이터(2022.08.24).csv', encoding="cp949")
df_01.shape

(11167, 5)

In [13]:
df_02 = pd.read_csv("2022_tmoney.csv")
df_02.shape

(358608, 9)

In [29]:
df_01["정류소명"].nunique()

7057

In [30]:
df_02["버스정류장명"].nunique()

8209

In [28]:
df["정류소명"].nunique()

6640

In [20]:
df = df_01.merge(df_02, left_on="정류소명", right_on="버스정류장명")
df.shape

(677659, 14)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 677659 entries, 0 to 677658
Data columns (total 14 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   NODE_ID  677659 non-null  int64
 1   ARS-ID   677659 non-null  int64
 2   정류소명     677659 non-null  object
 3   좌표X      677659 non-null  float64
 4   좌표Y      677659 non-null  float64
 5   사용월      677659 non-null  object
 6   노선ID     677659 non-null  int64
 7   노선번호     677659 non-null  object
 8   노선명      677659 non-null  object
 9   버스정류장ID  677659 non-null  int64
 10  버스정류장명   677659 non-null  object
 11  승차승객수    677659 non-null  object
 12  하차승객수    677659 non-null  object
 13  작업일시     677659 non-null  object
dtypes: float64(2), int64(4), object(8)
memory usage: 77.6+ MB

In [37]:
df[df["버스정류장명"].isin(df["정류소명"].unique())]

,NODE_ID,ARS-ID,정류소명,좌표X,좌표Y,사용월,노선ID,노선번호,노선명,버스정류장ID,버스정류장명,승차승객수,하차승객수,작업일시
0,100000001,1001,종로2가사거리,126.987786,37.569764,2022-01,11410003,470,470번(상암차고지~안골마을),67,종로2가사거리,"6,421","5,295",2022-02-03 08:49:58
1,100000001,1001,종로2가사거리,126.987786,37.569764,2022-01,11110434,741,741번(진관차고지~헌인릉입구),77,종로2가사거리,"5,318","5,046",2022-02-03 08:49:56
2,100000001,1001,종로2가사거리,126.987786,37.569764,2022-01,41110152,N37,N37번(송파공영차고지~진관공영차고지),32,종로2가사거리,43,143,2022-02-03 08:49:58
3,100000001,1001,종로2가사거리,126.987786,37.569764,2022-01,41110153,N37,N37번(진관공영차고지~송파공영차고지),89,종로2가사거리,107,189,2022-02-03 08:49:58
4,100000001,1001,종로2가사거리,126.987786,37.569764,2022-02,11410003,470,470번(상암차고지~안골마을),67,종로2가사거리,"5,341","4,397",2022-03-03 11:02:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677654,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-05,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,12,489,2022-06-13 17:02:23
677655,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-06,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,10,501,2022-07-03 09:47:56
677656,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-07,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,10,508,2022-08-03 09:32:38
677657,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-08,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,7,483,2022-09-03 10:18:19
677658,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-09,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,14,523,2022-10-03 09:13:34

In [45]:
df[df.duplicated()]

Empty DataFrame
Columns: [NODE_ID, ARS-ID, 정류소명, 좌표X, 좌표Y, 사용월, 노선ID, 노선번호, 노선명, 버스정류장ID, 버스정류장명, 승차승객수, 하차승객수, 작업일시]
Index: []

In [39]:
df.to_csv("2022_tmoney_xy.csv", index=False)